<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>한다라트</title>
</head>
<body>
<div style="margin:100px;">
  <h1> 한다라트 HandaPlan</h1>
  <hr style="color: #e8e8e8"><br>
  <p> 안녕하세요. 한다라트입니다. <br>아래의 인증코드를 입력해주세요.</p>
  <br>

  <div align="center" style="border:2px solid #e8e8e8; font-family:verdana;">
    <div style="font-size:130%; color:#7b14ba; padding: 20px" th:text="${code}"></div>
  </div>
  <br/>
</div>


</body>
</html>